.quiz {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  //   background: #f7f8fa;
  font-family: Arial, Helvetica, sans-serif;
  width: 56vh;
  margin: 0 auto;
  background: #8042b2;
  @include mobile {
    width: 100%;
  }
  @include mobile {
    width: 100%;
  }

  h2 {
    margin-bottom: 16px;
    // color: #222;
  }

  h3 {
    margin: 16px 0;
    text-align: center;
  }

  h4 {
    margin-bottom: 8px;
    // color: #666;
  }
  p {
    font-size: 5vh;
    @include mobile {
      font-size: 7vw;
    }
  }
  .score {
    font-weight: bold;
    font-size: 5vh;
    @include mobile {
      font-size: 20vw;
    }
  }

  .timer {
    font-weight: bold;
    color: #e63946;
    margin-bottom: 16px;
  }
  #retry {
    margin-top: 10%;
  }

  .options {
    list-style: none;
    padding: 0;
    width: 100%;
    max-width: 400px;
    margin-bottom: 24px;

    li {
      margin-bottom: 12px;

      label {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 12px;
        border-radius: 8px;
        // background: #f9fbff;
        cursor: pointer;
        border: 1px solid #ddd;
        transition: background 0.2s ease, border-color 0.2s ease;

        &:hover {
          background: #4c6ef5;
          border-color: #4c6ef5;
        }

        input {
          cursor: pointer;
        }
      }
    }
  }
}
