@import './media';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #130b2d;
}
#root {
  width: 100%;
  padding: 0;
  margin: 0;
  color: $white;
}
.landing {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  .landingContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    @include mobile {
      flex-direction: column;
    }
  }

  .sec1 {
    flex: 1;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include mobile {
      width: 100%;
    }

    h1 {
      font-size: 32px;
      margin-bottom: 10px;
    }

    p {
      font-size: 18px;
    }

    .logoContainer {
      width: 20%;
      margin-bottom: 20px;
      line-height: 0;
      @include mobile {
        width: 40%;
      }
      img {
        width: 100%;
      }
    }
  }
  .sec2 {
    flex: 1;
    display: flex;
    justify-content: center;
    width: 50%;

    .qr {
      width: 50%;
      height: auto;
      background-color: white;
      @include mobile {
        width: 90%;
        margin-top: 10%;
      }
    }
  }
}

/* Mobile Responsive */
@include mobile {
  .landing {
    flex-direction: column;
    text-align: center;

    .left {
      max-width: 100%;
    }

    .logo {
      margin: 0 auto 20px;
    }
  }
}
