@import './landing.scss';
@import './quiz.scss';
@import './media.scss';
@import './admin.scss';
@import './common.scss';
@import './registration.scss';
@import './quizStatus.scss';
@import './winners.scss';
