.registration {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  //   background: #8042b2;
  padding: 20px;
  width: 56vh;
  background: #8042b2;
  margin: 0 auto;
  @include mobile {
    width: 100%;
  }

  .regCard {
    // background: #fff;
    padding: 32px;
    border-radius: 16px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  }

  .logo {
    width: 140px;
    margin-bottom: 20px;
  }

  h2 {
    margin-bottom: 24px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 14px;

    input {
      padding: 12px 14px;
      border-radius: 8px;
      border: 1px solid #ccc;
      font-size: 15px;

      &:focus {
        outline: none;
        border-color: #4c6ef5;
      }
    }
  }
}
